APP_NAME=EGAA API
APP_ENV=development
API_PREFIX=/api
MYSQL_USER=seu_usuario
MYSQL_PASSWORD=sua_senha
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=nir
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
UPLOAD_TMP_DIR=backend/tmp